consumer/src/main/java/com/soap/consumer/wsdl/calculator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soap.com/calculator/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.soap.com/calculator/" targetNamespace="http://www.soap.com/calculator/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.soap.com/calculator/gen" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.soap.com/calculator/gen">

    <xs:element name="add">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="tns:calElements"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="subtract">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="tns:calElements"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="calElements">
        <xs:sequence>
            <xs:element name="firstNumber" type="xs:int"/>
            <xs:element name="secondNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:portType name="calculatorPort">
  </wsdl:portType>
  <wsdl:binding name="calculatorPortSoap11" type="tns:calculatorPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  </wsdl:binding>
  <wsdl:service name="calculatorPortService">
    <wsdl:port binding="tns:calculatorPortSoap11" name="calculatorPortSoap11">
      <soap:address location="http://localhost:8090/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>